.header{
    text-align: center;
    font-size: small;
}
.header1{
    text-align: center;
    font-size: 50px;
}

#container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,1fr);
    gap :10px;
   
}
#container>div{
    height: auto;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  
    
}
#container>div>img{
    width: 100%;
    transition: transform 1s;
}
#container>div>img:hover{
    transform: scale(0.9);
    cursor:zoom-out;
}
#tag{
    display: flex;
}
#tag>p:nth-child(2){
    margin-top:30px
    
}

.title{
    margin-left: 10px;
}
.brand{
    margin-left: 10px;
}
.price{
    margin-left: 10px;
}

.strick{
    margin-left: 10px;
}
