body{
    background-color:  rgba(237, 232, 232, 0.75);
    font-family: din-2014, sans-serif;
}
.slideshow-container {
    width: 100%;
    height: 20%;
    position: relative;
    margin: auto;
    margin-top: 30px;
    }
    
    /* Hide the images by default */
    .mySlides {
    display: none;
    }
    
    /* Next & previous buttons */
    .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color:#333;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 60%;
    user-select: none;
    background-color:#ffff;
    }
    
    /* Position the "next button" to the right */
    .next {
    right: 0;
    border-radius: 60%;
    }
    
    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
    background-color: #f0e9e9cc;
    }
    

    /* The dots/bullets/indicators */
    .dot {
    cursor: pointer;
    height: 5px;
    width: 25px;
    margin: 0 2px;
    background-color: #f6f6f6;
    border-radius: 20%;
    display: inline-block;
    transition: background-color 0.6s ease;
    }
    
    .active, .dot:hover {
    background-color: #e91663;
    }
    
    /* Fading animation */
    .fade {
    animation-name: fade;
    animation-duration: 1.5s;
    }
    
    @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
    }

    #spotlight {
        max-width:100% ;
        text-align: center;
        margin-top: 40px;
        cursor: pointer;
        /* background-color: #eae5e5; */

    }
    #spotlight h1{
        font-weight: bold;
        text-decoration:underline 8px solid #FCADAD ;
        font-family:din-2014, sans-serif;
        color: #333;
    }
    #spotlight #sp{
        display: flex;
        gap: 10px;
        margin: auto;
        margin-left: 20px;
        margin-right: 20px;
    }
    #spotlight #sp  img{
        max-width:96% ;
        
    }
    #spotlight #sp h2{
        margin-top: -84px;
        font-weight: 600;
        color: #333;
        background: hsla(0,1%,100%,.75);
        opacity: 0.7;
        padding:26px;  
    }

    #banner{
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 40px;
        cursor: pointer;
    }
    #banner img{
       width: 100%;
        
    }

    /* //glam */

    #glam {
        max-width:100% ;
        text-align: center;
        margin-top: 40px;
        cursor: pointer;
        /* background-color: #eae5e5; */

    }
    #glam h1{
        font-weight: bold;
        text-decoration:underline 8px solid #FCADAD ;
        font-family: din-2014,sans-serif;
        color:#333;
    }
    #glam #sp1{
        display: flex;
        gap: 10px;
        margin: auto;
        margin-left: 20px;
        margin-right: 20px;
    }
    #glam #sp1  img{
        max-width:96% ;
        
    }
    #glam #sp1 h2{
        margin-top: -84px;
        font-weight: 600;
        color:#333;
        background: hsla(0,1%,100%,.75);
        opacity: 0.7;
        padding:26px;  
    }

    /* banner2 */

    #banner1{
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 40px;
        cursor: pointer;
    }
   
    #banner1 img{
       width: 100%;
      
    }
    #banner2{
     margin-top: 40px;
     cursor: pointer;
    }
    #banner2 img{
        width: 100%;
       
         
     }
     #banner3{
        margin-top: 40px;
        cursor: pointer;
    }
     #banner3 img{
        width: 100%;
         
     }

